= form_for [@university, @faculty, @department, @lector], html: { class: "form form-horizontal lector" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@lector[:name])
  .form-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_area  :description, class: 'form-control wysihtml5', required: true
    = error_span(@lector[:description])    
  .form-group
    = f.label :position, class: 'control-label'
    .controls
      = f.text_field :position, class: 'form-control', required: true
    = error_span(@lector[:position])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), university_faculty_department_lectors_path(@university, @faculty, @department), :class => 'btn btn-default'
