- model_class = Department
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th Raiting
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @departments.each do |department|
      %tr
        %td= link_to department.name, university_faculty_department_path(@university, @faculty, department), class: 'link-to'
        %td
          .btn-group.group
            %button.btn.btn-default.btn-xs.like{:type => 'button', 'data-no-turbolink' => true} like
            %button.btn.btn-primary.btn-xs.active.vote_count= department.vote
            %button.btn.btn-default.btn-xs.dislike{:type => 'button', 'data-no-turbolink' => true} dislike        
        %td
          - if user_signed_in?
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_university_faculty_department_path(@university, @faculty, department), :class => 'btn btn-default btn-xs'
            = link_to t('.destroy', :default => t("helpers.links.destroy")), university_faculty_department_path(@university, @faculty, department), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
            = link_to 'add group', new_university_faculty_department_group_path(@university, @faculty, department), :class => 'btn btn-info btn-xs'
            = link_to 'add lector', new_university_faculty_department_lector_path(@university, @faculty, department), :class => 'btn btn-info btn-xs'
          = link_to 'groups', university_faculty_department_groups_path(@university, @faculty, department), :class => 'btn btn-success btn-xs'
          = link_to 'lectors', university_faculty_department_lectors_path(@university, @faculty, department), :class => 'btn btn-success btn-xs'

%center
  = will_paginate @departments, renderer: BootstrapPagination::Rails

- if user_signed_in?
  = link_to t('.new', :default => t("helpers.links.new")), new_university_faculty_department_path(@university, @faculty), :class => 'btn btn-primary'

= javascript_include_tag "voting/voting"