= form_for @university, html: { class: "form form-horizontal university" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@university[:name])
  .form-group
    = f.label :address, class: 'control-label'
    .controls
      = f.text_field :address, class: 'form-control', required: true
    = error_span(@university[:address])
  .form-group
    = f.label :coordinates, class: 'control-label'
    .controls
      = f.text_field :coordinates, class: 'form-control', required: false
    = error_span(@university[:coordinates])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), universities_path, :class => 'btn btn-default'
