%p#notice= notice

%p
  %b Name:
  = @university.name
%p
  %b Adress:
  = @university.adress
%p
  %b Lat:
  = @university.lat
%p
  %b Lng:
  = @university.lng

= link_to 'Edit', edit_university_path(@university)
\|
= link_to 'Back', universities_path
